/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.btn-create {
    background-color: #006600;
    padding: 10px;
    border-radius: 4px;
    color: white;
    border: none;
}

    .btn-create:hover {
        color: white;
    }

.btn-edit {
    background-color: #0000ff;
    padding: 10px;
    border-radius: 4px;
    color: white;
    border: none;
}

    .btn-edit:hover {
        color: white;
    }

.btn-remove {
    background-color: #e70000;
    padding: 10px;
    border-radius: 4px;
    color: white;
    border: none;
}

    .btn-remove:hover {
        color: white;
    }

.btn-details {
    background-color: #DCDCDC;
    padding: 10px;
    border-radius: 4px;
    color: black;
    border: none;
}

    .btn-details:hover {
        color: black;
    }


.btn-save {
    background-color: darkgreen;
    padding: 10px;
    border-radius: 4px;
    color: white;
    border: none;
    margin-right: 5px;
    margin-top: 10px;
}

.link-back {
    margin-left: 10px;
}
