@model Atividade_1.Models.ExperienceViewModel

@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Form</h2>

<h4>ExperienceViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="Salvar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="COMPANY_NAME" class="control-label"></label>
                <input asp-for="COMPANY_NAME" class="form-control" />
                <span asp-validation-for="COMPANY_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PREVIOUS_POSITION" class="control-label"></label>
                <input asp-for="PREVIOUS_POSITION" class="form-control" />
                <span asp-validation-for="PREVIOUS_POSITION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PREVIOUS_SALARY" class="control-label"></label>
                <input asp-for="PREVIOUS_SALARY" class="form-control" />
                <span asp-validation-for="PREVIOUS_SALARY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF_EXPERIENCE" class="control-label"></label>
                <input asp-for="CPF_EXPERIENCE" class="form-control" />
                <span asp-validation-for="CPF_EXPERIENCE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
            <div class="form-group">
                <span class="text-danger">@ViewBag.Erro</span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
